body {
    margin: 0;
    min-width: 400px;
    background: #f5f5f5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
    text-align: center;
    font-size: 100px;
    font-weight: 100;
    color: rgba(175, 47, 47, 0.15);
}
#root {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
}
.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
input {
    width: 550px;
    min-height: 40px;
}
ul {
    padding-left: 0;
}
#ulItems li{
    position: relative;
    list-style-type: none;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    padding: 5px;
    width: 550px;
    background: #f0f0f0;
}
.notDone {
    min-width: 40px;
    min-height: 40px;
    background-image: url("images/icons8.svg");
    background-size: contain;
}
.notDone:hover {
    transform: scale(1.1,1.1);
}
.done {
    width: 40px;
    height: 40px;
    background-image: url("images/icons8-checked.svg");
    background-size: contain;
}
.done:hover {
    transform: scale(1.1,1.1);
}
.counter {
    flex-basis: 25%;
}
#clear {
    flex-basis: 25%;
    border: 0;
    text-decoration: none;
    background: none;
    color: inherit;
}
#clear:hover {
    text-decoration: underline;
}
footer {
    width: 550px;
    display: flex;
    justify-content: space-between;
}
footer button {
    cursor: pointer;
}
.lineThrow {
    text-decoration: line-through;
    opacity: 0.5;
}
.visually-hidden {
    visibility: hidden;
}
.delete {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    min-width: 40px;
    min-height: 40px;
    border: 0;
    border-radius: 0;
    background-image: url("images/icon-del.svg");
    background-size: contain;
 }
.delete:hover {
    transform: scale(1.1,1.1);
}
